* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(img/hero2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;  
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero-heading {
    word-spacing: 4px;
}

.flashes h4 {
    line-height: 2;
}

.btn-main {
    background-color: #00A109;
    border-radius: 200px;
}

.btn-main:hover {
    color: #00A109;
}