* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 15px;
    width: 100%;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero-heading {
    word-spacing: 2px;
}

.flashes h4 {
    line-height: 2;
}

.btn-main {
    background-color: #c27355;
    border-radius: 200px;
}

.btn-main:hover {
    color: #c27355;
}

form {
    border: 2px solid #c27355;
    color: #c27355;
}

.btn {
    background-color: #c27355;
}

.form-control {
    border: 1px solid #c27355;
    color: #c27355;
}

.form-group i {
    font-size: 20px;
    color: #c27355;
}

.category-card {
    width: 10rem;
    border: 2px solid #c27355;
    transition: transform 0.2s;
    margin: 0 auto;
}

.category-card:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
}

.category-card a {
    color: #fff;
}


/* ------------------------------------------ Media queries */
/* Small phones to small tablets from 481 to 767px */
@media only screen and (max-width: 767px) {
 .hero-heading {
    font-size: 24px;
  }

  .btn-main {
    font-size: 14px;
  }

  h2 {
      font-size: 22px;
  }
}

