* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/hero1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;  
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hero-heading {
    word-spacing: 2px;
}

.flashes h4 {
    line-height: 2;
}

.btn-main {
    background-color: #c27355;
    border-radius: 200px;
}

.btn-main:hover {
    color: #c27355;
}

form {
    border: 2px solid #c27355;
    color: #c27355;
}

.form-control {
    border: 1px solid #c27355;
    color: #c27355;
}

.form-group i {
    font-size: 20px;
    color: #c27355;
}
