{% extends "base.html" %}
{% block content %}

    <!-- hero section -->
    <div>
        <div class="jumbotron bg-transparent text-uppercase text-center">
            <h1 class="text-white text-shadow hero-heading">Wondering what to read today?</h1>
            <a class="btn btn-outline-light btn-lg text-shadow btn-main mt-3" href="{{ url_for('register') }}" role="button">Join our book club</a>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            {% for book in books %}
                <div class="col-md-6">
                    <div class="card bg-transparent shadow mb-3" style="width: 22rem; border: 2px solid #c27355; color: #fff;">
                        <div class="card-body">
                            <img src="{{ book.image }}" class="card-img-top" alt="book image"> 
                            <h5 class="card-title">
                                <strong>{{ book.title }}</strong> : {{ book.author }}
                            </h5>
                            <strong>{{ book.category_name }}</strong>
                            <p class="card-text">{{ book.review_text }}</p>
                            <p class="card-text">{{ book.date_of_review }}</p>
                            <p><em>by: {{ book.created_by }}</em></p>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 text-center">
                                {% if session.user|lower == book.created_by|lower %}
                                    <a href="{{ url_for('edit_book', book_id=book._id) }}" class="btn btn-primary btn-sm mr-2">Edit</a>
                                    <a href="{{ url_for('delete_book', book_id=book._id) }}" class="btn btn-danger btn-sm">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
 
{% endblock %}