{% extends "base.html" %}
{% block content %}

    <h2 class="text-center text-white text-uppercase font-weight-light mb-5 mt-5 text-shadow">Manage Categories</h2>
    
    <div class="container-fluid mb-5">
        <div class="row ">
            {% for category in categories %}
                <div class="col-md-3">
                    <div class="card text-center shadow mb-5 mx-auto category-card-lg">
                        <div class="card-body">
                            <h5 class="card-title mb-3 text-shadow">{{ category.category_name }}</h5>
                            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="card-link btn-info btn-sm btn-edit">Edit</a>
                            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="card-link btn-danger btn-sm">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <a href="{{ url_for('add_category') }}" class="btn col-md-6 btn-add offset-md-3 text-white text-uppercase mb-3 mt-2">Add Category</a>
            </div>
        </div>
    </div>
 
{% endblock %}