{% extends "base.html" %}
{% block content %}

    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2 mb-5" >
                <h2 class="text-white text-center font-weight-light text-shadow">
                     Here you can manage your book reviews.
                </h2>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card bg-transparent shadow" style="width: 22rem; border: 2px solid #c27355; color: #fff;">
                    {% for book in books %}
                        <div class="card-body">
                            <img src="{{ book.image }}" class="card-img-top" alt="book image"> 
                            <h5 class="card-title">
                                <strong>{{ book.title }}</strong> : {{ book.author }}</h5>
                            <p class="card-text">{{ book.review_text }}</p>
                            <p class="card-text">{{ book.date_of_review }}</p>
                            <p><em>by: {{ book.created_by }}</em></p>
                        </div>
                    {% endfor %}
                </div>
                <a href="" class="btn btn-primary btn-sm mt-5">Edit</a>
                <a href="" class="btn btn-danger btn-sm mt-5">Delete</a>
            </div>
        </div>
    </div>
   
{% endblock %}